@model IEnumerable<DIENMAYQUYETTIEN.Models.CashBillDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th class="no">Mã Sản Phẩm</th>
            <th class="mhd">Tên Sản Phẩm</th>
            <th class="sl">Số lượng</th>
            <th class="pri">Đơn giá</th>
            <th class="tt">Thành tiền</th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
            <td>
                @(item.Quantity * item.SalePrice)
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
