@model DIENMAYQUYETTIEN.Areas.Admin.Models.InstallReceipt
@{
    Layout = null;
    int i = 1;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>In Hóa Đơn</title>

    <link href="~/AreasContent/Print/style.css" rel="stylesheet" />
</head>
<body>
    <header class="clearfix">
        <div id="logo">
            <img src="~/AreasContent/Print/Logo_Qt_PNG.png">
        </div>
        <div id="company">
            <h2 class="name">Điện máy Quyết Tiến</h2>
            <div>455 Foggy Heights, AZ 85004, US</div>
            <div>(602) 519-0450</div>
            <div><a href="mailto:company@example.com">company@example.com</a></div>
        </div>
    </header>
    <main>
        <div id="details" class="clearfix">
            <div id="client">
                <div class="to">HÓA ĐƠN TRẢ GÓP</div>
                <h2 class="name">Mã khách hàng: @Model.CustomerID/h2>
                <div class="phone">Số điện thoại: @Model.Customer.PhoneNumber</div>
                <div class="address">Địa chỉ: @Model.Customer.Address</div>
                <div class="note">Ghi chú: @Model.Note</div>
            </div>
            <div id="invoice">
                <h1>@Model.BillCode</h1>
                <div class="date">Ngày mua: @Model.Date</div>
                <div class="shipper">Người giao hàng: @Model.Shipper</div>
                <div class="method">Hình thức trả: @Model.Method</div>

            </div>
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th class="no">No</th>
                    <th class="mhd">Mã sản phẩm</th>
                    <th class="tsp">Tên sản phẩm</th>
                    <th class="sl">Số lượng</th>
                    <th class="pri">Giá Góp</th>
                    <th class="tt">Trả Trước</th>
                    <th class="cl">Còn Lại</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.InstallmentBillDetail)
                {
                    <tr>
                        <td class="no">@i</td>
                        <td class="mhd"><h3>@Html.DisplayFor(modelItem => item.Product.ProductCode)</h3></td>
                        <td class="tsp">@Html.DisplayFor(modelItem => item.Product.ProductName)</td>
                        <td class="sl">@Html.DisplayFor(modelItem => item.Quantity)</td>
                        <td class="pri">@(item.Quantity * item.InstallmentPrice)</td>
                        <td class="tt">@Html.DisplayFor(modelItem => item.InstallmentBill.Taken)</td>
                        <td class="cl">@Html.DisplayFor(modelItem => item.InstallmentBill.Remain)</td>
                    </tr>
                    i = i + 1;
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2">Tổng Tiền</td>
                    <td>@string.Format("{0:0,0} VNĐ", Model.GrandTotal)</td>
                </tr>
            </tfoot>
        </table>
        <div id="thanks">Cám ơn. Bạn đã mua sản phẩm của chúng tôi!</div>
        <div id="notices">
            <div>NOTICE:</div>
            <div class="notice">Mọi thắc mắc liên quan đến sản phẩm hoặc hóa đơn, Vui Lòng Liên Hệ Bộ Phận Chăm Sóc Khách Hàng!</div>
			<div class="notice">Hotline: 19009999</div>
			<div class="notice">Sản phẩm bảo hành dựa theo hóa đơn! Vui lòng giữ cẩn thận hóa đơn.</div>
        </div>
    </main>
    <footer></footer>
</body>
</html>
