@model DIENMAYQUYETTIEN.Models.CashBill

@{
    ViewBag.Title = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayout3.cshtml";
}

<h2 style="text-align: center; padding-bottom: 15px;">THÊM HÓA ĐƠN TIỀN MẶT</h2>

<hr />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   
    <div class="form-horizontal">
        
        <div class="container">
		<h4 style="text-align: center;">Thông tin hóa đơn</h4>
        @Html.ValidationSummary(true)

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.CustomerName, "Tên khách hàng")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CustomerName)
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.PhoneNumber, "Số điện thoại")
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                 @Html.LabelFor(model => model.Address, "Địa Chỉ", new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
		<div class="form-group col-md-3">
                 @Html.LabelFor(model => model.Shipper, "Người giao", new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Shipper)
                    @Html.ValidationMessageFor(model => model.Shipper)
                </div>
            </div>
            <div class="form-group col-md-3">
                 @Html.LabelFor(model => model.Note, "Ghi Chú", new { @class = "control-label" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Note)
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
        </div>
		
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu hóa đơn" class="btn btn-default" />
				 @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary ", @style = "margin-left: 10px" })
            </div>
        </div>
    </div>
	</div>
	</div>
}

@if (Session["CashBill"] != null) { 

    @Html.Action("Create", "CashBillDetail")
    @Html.Action("Index", "CashBillDetail")

    <br /><br />
    using (Html.BeginForm("Create2", "CashBill"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lập hóa đơn" class="btn btn-primary" />
            </div>
        </div>
    }
}

<div>
</div>
@section Scripts{
    <script>
    $('#ProductID').change(function () {
        var url = '@Url.Action("SalePrice", "CashBillDetail")';
        url = url + '?ProductID=' + $(this).val();
        $.get(url, function (data) {
            $('#SalePrice').val(data);
        });
    });
    </script>
}
