@model DIENMAYQUYETTIEN.Models.CashBill

@{
	ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout3.cshtml";
}

<h2>Cập Nhật Hóa Đơn<h2>
    @using (Html.BeginForm("Edit", "CashBill", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>CashBill</h4>
            <hr />
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.BillCode)
            <div class="form-group">
                @Html.LabelFor(model => model.BillCode, "Mã Hóa Đơn", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BillCode, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.BillCode)
                </div>
            </div>
            @Html.HiddenFor(model => model.CustomerName)
            <div class="form-group">
                @Html.LabelFor(model => model.CustomerName, "Tên Khách Hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.CustomerName, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.CustomerName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PhoneNumber, "Điện Thoại Liên Lạc", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PhoneNumber, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Address, "Địa chỉ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Date, "Ngày lập hóa đơn", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Date, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.Date)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Shipper, "Người Giao Hàng", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Shipper, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Shipper)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Note, "Ghi chú", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Note, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Note)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.GrandTotal, "Tổng Tiền", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GrandTotal, new { disabled = "disabled", @readonly = "readonly" })
                    @Html.ValidationMessageFor(model => model.GrandTotal)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary pull-right", @style = "padding-left: 10px;" } )
    </div>