@model IEnumerable<DIENMAYQUYETTIEN.Models.CashBill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/AreasContent/dataTables.min.css" />

<h2>Danh sách Hóa Đơn</h2>
<hr />
<p>
    @Html.ActionLink("Thêm mới hóa đơn", "Create", null, new { @class = "btn btn-primary pull-right", @style = "margin-bottom: 10px" })
</p>

    <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%">
		<thead>
                <tr>
                     <th>Bill Code</th>
                     <th>Customer Name</th>
                     <th>Phone Number</th>
                     <th>Address</th>
                     <th>Date</th>
                     <th>Shipper</th>
                     <th>Note</th>
                     <th>Grand Total</th>
                     <th>Action</th>
                  </tr>
		</thead>
		<tbody>
			@foreach (var item in Model) {
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.BillCode)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CustomerName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.PhoneNumber)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Address)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Date)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Shipper)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Note)
					</td>
					<td>
                        @String.Format("{0:0,0}", item.GrandTotal) VNĐ
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id=item.ID }, new {@class = "btn btn-warning" }) |
						@Html.ActionLink("Print Bill", "PrintCashBill", new { id=item.ID }, new {@class = "btn btn-info"}) 
					</td>
				</tr>
			}
		</tbody>
	</table>
@section Scripts{
    <script type="text/javascript" charset="utf-8" src="~/AreasContent/dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}